body {
  margin: 0;
  overflow-x: hidden;
}

/* Navigation */
.navigation {
  padding: 1rem;
  box-shadow: -1px -4px 10px 0px black;
}
.logo {
  margin: 0;
  text-align: center;
  position: absolute;
  left: 15vw;
}
.logo img {
  width: 60px;
}

.navBar {
  transition: 0.5s ease all;
  margin: 0;
  margin-left: 50vw;
  padding-right: 10px;
}
.navBar ol {
  transition: 0.5s ease all;
  display: inline-flex;
  padding-right: 28px;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.navBar ol a {
  transition: 0.5s ease all;
  font-family: system-ui;
  text-decoration: none;
  color: #505050;
  font-weight: 600;
}

/* Some Animation */
.navBar:hover a {
  transition: 0.5s ease all;
  color: #a9a8a8 !important;
}
.nav-link:hover a {
  color: #505050 !important;
  transition: 0.5s ease all;
}

/* Background */
.background {
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 1, 0.75), rgba(0, 0, 1, 0.75)),
    url(https://wallpaperaccess.com/full/2704587.jpg);
  display: flex;
  align-items: flex-start;
  color: white;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
}

/* Containers */
.container {
  padding: 15vh 10vw 15vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Process */
h2 {
  text-align: center;
  letter-spacing: 7px;
  font-weight: 900;
  font-family: -webkit-pictograph;
}
.container ul {
  list-style-type: none;
}
.method {
  padding: 2rem 0;
}
.image {
  float: left;
}
#img-1 {
  width: 5rem;
}
#img-2 {
  width: 4rem;
  margin-left: 1vw;
}
#img-3 {
  width: 5rem;
}

/* Cards */
.card {
  background: #d6d6d6;
  max-width: 33.3%;
  display: inline-block;
  margin: 3vh 2.5rem 3vh 2.5rem;
  text-align: center;
  padding: 3.1rem;
}
.plan {
  margin: 0;
}
button {
  padding: 7px 30px;
}

/* Pricing */
#pricing {
  background: #2f2a2a;
}
.pricing {
  width: 100%;
  color: white !important;
}

/* Newsletter */
#newsletter {
  color: white;
}
.mail-text {
  text-align: center;
  color: #e0e0e0;
}
input {
  padding: 7px 10px;
}

/* Footer */

.footer {
  background: #252525;
  color: #cacaca;
  padding: 12px;
}
.footer p {
  margin: 0;
  text-align: center;
}

@media (max-width: 595px) {
  .mail {
    display: flex;
    flex-flow: column;
  }
}
#header {
  position: fixed;
  background: white;
  z-index: 2;
  width: 100%;
  overflow: none;
}
